* text=auto

# Текстовые файлы с LF для кросс-платформенности
*.sh text eol=lf
*.py text eol=lf
alembic.ini text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf

# Бинарные файлы (не преобразовывать строки)
*.pt binary